# Python cache
__pycache__/
*.py[cod]
*.pyo

# Virtual environment
venv/
env/
node_modules/

# Environment variables
.env

# VS Code / IDE stuff
.vscode/
.idea/

# macOS clutter
.DS_Store

# Windows clutter
Thumbs.db

# Logs
*.log

# Compiled C extensions
*.so

# Coverage reports
htmlcov/
.coverage
.tox/
nosetests.xml
coverage.xml
*.cover

# PyInstaller
*.spec
dist/
build/
__pycache__
